@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PoppinsThin";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsSemibold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "MontserratThin";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "MontserratSemibold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "MontserratBold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  display: swap;
  font-weight: 700;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.glassbox {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.green-radial {
  background: radial-gradient(
    circle,
    hsla(150, 50%, 65%, 1) 1%,
    hsla(0, 0%, 10%, 1) 40%,
    hsla(0, 0%, 0%, 1) 100%
  );
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
